# .gitHub/workflows/maven.yml

name: CI Java Maven

on:
  push:
    branches: [ "main", "feature/**" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build and Run Tests
        run: mvn -B package

      - name: Publish Test Report
        uses: asadmansur/test-reporting@v1
        if: always()
        with:
          files: target/surefire-reports/TEST-*.xml